[submodule "themes/zola-clean-blog"]
	path = themes/zola-clean-blog
	url = https://github.com/dave-tucker/zola-clean-blog
[submodule "themes/papaya"]
	path = themes/papaya
	url = https://github.com/justint/papaya
[submodule "themes/zola-casper"]
	path = themes/zola-casper
	url = https://github.com/Leo1003/zola-casper
